 <project>
  <modelVersion>4.0.0</modelVersion>
  <groupId>com.workplacesystems.utilsj</groupId>
  <artifactId>utilsj</artifactId>
  <packaging>jar</packaging>
  <name>UtilsJ</name>
  <version>@@VERSION@@</version>
  <description>Various Java utility classes including transactional collections, collection helpers, synchronisation utilities, thread utilities and build utilities classes.</description>
  <url>http://github.com/workplacesystems/utilsj</url>
  <licenses>
    <license>
      <name>The Apache Software License, Version 2.0</name>
      <url>http://www.apache.org/licenses/LICENSE-2.0.txt</url>
      <distribution>repo</distribution>
    </license>
  </licenses>
  <scm>
    <url>http://github.com/workplacesystems/utilsj</url>
    <connection>http://github.com/workplacesystems/utilsj</connection>
  </scm>
  <developers>
    <developer>
      <id>daveoxley</id>
      <name>Dave Oxley</name>
      <email>dave@daveoxley.co.uk</email>
    </developer>
  </developers>
  <dependencies>
    <dependency>
      <groupId>org.apache.ant</groupId>
      <artifactId>ant</artifactId>
      <version>1.8.1</version>
    </dependency>
    <dependency>
      <groupId>backport-util-concurrent</groupId>
      <artifactId>backport-util-concurrent</artifactId>
      <version>3.1</version>
    </dependency>
    <dependency>
      <groupId>commons-collections</groupId>
      <artifactId>commons-collections</artifactId>
      <version>3.2.1</version>
    </dependency>
    <dependency>
      <groupId>commons-logging</groupId>
      <artifactId>commons-logging</artifactId>
      <version>[1.1.1,2.0.0)</version>
    </dependency>
    <dependency>
      <groupId>commons-pool</groupId>
      <artifactId>commons-pool</artifactId>
      <version>1.5.4</version>
    </dependency>
  </dependencies>
</project>
